# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# IDE related file
*.config
*.includes
*.files
*.creator
*.user

# TOP SECRET(for the momment)
compile.sh